{% extends "base.html" %}
{% load static %}

{% block content %}
<div hx-target="body" hx-swap="outerHTML" class="flex h-screen flex-col">
    <main class="flex-1 overflow-y-auto bg-gray-100">
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="flex flex-col gap-8">
                <div class="flex items-center justify-between">
                    <h2 class="text-3xl font-bold text-gray-900">My Learners</h2>
                </div>
                
                <div class="flex flex-col gap-4">
                    <div class="relative w-full max-w-xs">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                            <span class="material-symbols-outlined text-gray-400"> search </span>
                        </div>
                        <input
                            name="search"
                            value="{{ request.GET.search }}"
                            hx-get="{% url 'learners-list' %}"
                            hx-trigger="keyup changed delay:300ms"
                            hx-include="closest div"
                            placeholder="Search learners..."
                            class="w-full rounded-md border-gray-300 bg-white py-2 pl-10 pr-4"
                            type="text" />
                    </div>
                    <div class="border-b border-gray-200">
                        <nav aria-label="Tabs" class="-mb-px flex space-x-8">
                            <a hx-get="{% url 'learners-list' %}"
                            hx-include="closest div"
                            hx-vals='{"status": "all"}'
                            class="border-b-2 px-3 py-2 text-sm font-medium cursor-pointer
                            {% if request.GET.status == "all" or not request.GET.status %}
                                border-[var(--primary-color)] text-[var(--primary-color)]
                            {% else %}
                                text-gray-500 border-transparent
                            {% endif %}">
                                All
                            </a>

                            <a hx-get="{% url 'learners-list' %}"
                            hx-include="closest div"
                            hx-vals='{"status": "active"}'
                            class="border-b-2 px-3 py-2 text-sm font-medium cursor-pointer
                            {% if request.GET.status == "active" %}
                                border-[var(--primary-color)] text-[var(--primary-color)]
                            {% else %}
                                text-gray-500 border-transparent
                            {% endif %}">
                                Active
                            </a>

                            <a hx-get="{% url 'learners-list' %}"
                            hx-include="closest div"
                            hx-vals='{"status": "inactive"}'
                            class="border-b-2 px-3 py-2 text-sm font-medium cursor-pointer
                            {% if request.GET.status == "inactive" %}
                                border-[var(--primary-color)] text-[var(--primary-color)]
                            {% else %}
                                text-gray-500 border-transparent
                            {% endif %}">
                                Inactive
                            </a>
                        </nav>
                    </div>
                </div>

                <div class="overflow-x-auto rounded-lg border border-gray-200 bg-white">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-500"
                                    scope="col">
                                    <div class="flex items-center gap-1">
                                        Name
                                    </div>
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-500"
                                    scope="col">
                                    <div class="flex items-center gap-1">
                                        Learning Path
                                    </div>
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-500"
                                    scope="col">
                                    <div class="flex items-center gap-1">
                                        Start Date
                                    </div>
                                </th>
                                <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider text-gray-500"
                                    scope="col">
                                    <div class="flex items-center gap-1">
                                        User Type
                                    </div>
                                </th>
                                <th class="relative px-6 py-3" scope="col">
                                    <span class="sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in rows %}
                                <tr>
                                    <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-900">
                                        <div class="flex items-center gap-3">
                                            {% if row.learner.user.image %}
                                                <img src="{{ row.learner.user.image.url }}" class="h-8 w-8 rounded-full" alt="Profile">
                                            {% else %}
                                                <img src="{% static 'images/default_user_image.jpg' %}" class="h-8 w-8 rounded-full" alt="Default Profile">
                                            {% endif %}
                                            <a class="hover:text-(--primary-color) hover:underline" href="#">{{ row.learner.user.get_full_name }}</a>
                                        </div>
                                    </td>
                                    <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-600">{{ row.learning_path.name }}</td>
                                    <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-600">{{ row.start_date }}</td>
                                    <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-600">{{ row.plan }}</td>
                                    <td class="whitespace-nowrap px-6 py-4 text-right text-sm font-medium">
                                        <a class="inline-flex items-center gap-2 rounded-md bg-white px-3 py-1.5 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                            href="#">View Profile</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}