.idea/
.vscode/
*.pyc
__pycache__/
.pytest_cache/
venv/

staticfiles/
media/
.env
db.sqlite3

se.py

node_modules/
static/webpack_output/

package-lock.json
webpack-stats.json

update_python_packages.py
