{% load static %}
{% load i18n %}

{% for submission in submissions %}
    <tr class="hover:bg-slate-50">
        <td
            class="px-6 py-4 whitespace-nowrap text-sm font-medium text-[var(--text-primary)]">
            {{ submission.task.title }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-[var(--text-secondary)]">
            <div class="flex items-center gap-3">
                {% if submission.step_progress.mentor_assignment.enrollment.learner.user.image.url %}
                    <img src="{{ submission.step_progress.mentor_assignment.enrollment.learner.user.image.url }}" class="h-8 w-8 rounded-full object-cover" alt="Profile">
                {% else %}
                    <img src="{% static 'images/default_user_image.jpg' %}" class="h-8 w-8 rounded-full object-cover" alt="Default Profile">
                {% endif %}
                <span>{{ submission.step_progress.mentor_assignment.enrollment.learner.user.get_full_name }}</span>
            </div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-[var(--text-secondary)]">
            {{ submission.submitted_at }}</td>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-right">
            {% if submission.has_evaluation %}
                <a
                    href='{% url "mentor-feedback" submission.id %}'
                    class="inline-flex cursor-pointer text-emerald-700 items-center gap-2 rounded-md bg-emerald-100 px-4 py-2 text-sm font-semibold transition-colors">
                    <span class="material-symbols-outlined text-base"> check_circle </span>
                    {% trans "Evaluated"%}
                </a>
            {% else %}
                <a
                    href='{% url "mentor-feedback" submission.id %}'
                    class="inline-flex cursor-pointer items-center gap-2 rounded-md bg-[var(--secondary-color)] px-4 py-2 text-sm font-semibold text-[var(--primary-color)] hover:bg-blue-100 transition-colors">
                    <span class="material-symbols-outlined text-base">rate_review</span>
                    {% trans "Review Task"%}
                </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}