{% load i18n %}
{% load static %}

<header class="sticky top-0 z-10 flex items-center justify-between whitespace-nowrap border-b border-slate-200 bg-slate-50 px-10 py-4 shadow-sm">
    <div class="flex items-center gap-4">
        <div class="text-(--primary-color)">
            <svg fill="none" height="32" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"></path>
            </svg>
        </div>
        <h1 class="text-2xl font-bold tracking-tighter">EduPath</h1>
    </div>

    <!-- Links -->
    <nav class="hidden md:flex items-center gap-6 text-sm font-medium">
        {% if user.learner_profile %}
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "learner-dashboard" %}">{% trans "Dashboard"%}</a>
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "profile" user.id %}">{% trans "Profile"%}</a>
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "subscription-plans" %}">{% trans "Subscriptions"%}</a>
            <a class="hover:text-(--primary-color) transition-colors" href="#">{% trans "Support"%}</a>
        {% elif user.mentor_profile %}
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "attendance-hub" %}">{% trans "Dashboard"%}</a>
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "mentor-feedback-list" %}">{% trans "Feedback list"%}</a>
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "learners-list" %}">{% trans "Learners"%}</a>
            <a class="hover:text-(--primary-color) transition-colors" href="{% url "session-list" %}">{% trans "Sessions"%}</a>
        {% else %}

        {% endif %}
    </nav>

    <div class="flex items-center gap-4">

        <!-- Notifications -->
        <div class='relative'>
            <details class="dropdown dropdown-end">
                <summary class="cursor-pointer material-symbols-outlined text-2xl text-slate-600 hover:text-(--primary-color) transition-colors">notifications</summary>
                <ul id="notification-dropdown" class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">

                    {% for notif in unread_notifs %}
                        <a href='{% url "notifications" %}' class="bg-blue-100 rounded-lg py-5 px-6 mb-3 text-base text-blue-700 inline-flex items-center w-full" role="alert">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path>
                            </svg>
                            <span class="font-medium">{{ notif.title }}</span>
                        </a>
                    {% endfor %}

                    {% include "notifications/clear_button.html" with target="notification-dropdown" %}
                </ul>
            </details>
            <span id='notification-number' class="absolute {% if not notif_count %}hidden{% endif %} -top-1 -right-1 flex h-4 w-4 items-center justify-center rounded-full bg-red-500 text-xs font-bold text-white">
                {{notif_count}}
            </span>
        </div>

        <!-- Profile Image -->
        {% if user.is_authenticated %}
            {% if user.image %}
                <a href='{% url "profile" user.id %}'><img src="{{ user.image.url }}" class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 border-2 border-slate-200" alt="Profile"></a>
            {% else %}
                <a href='{% url "profile" user.id %}'><img src="{% static 'images/default_user_image.jpg' %}" class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 border-2 border-slate-200" alt="Default Profile"></a>
            {% endif %}
        {% else %}
            <a href='{% url "login" %}'><img src="{% static 'images/default_user_image.jpg' %}" class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 border-2 border-slate-200" alt="Default Profile"></a>
        {% endif %}

        <!-- Language Selection -->
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'fa' %}
                <input type="hidden" name="language" value="en">
                <button type="submit" class="flex cursor-pointer items-center justify-center rounded-lg bg-slate-200 px-4 py-2 text-sm font-semibold text-slate-700 hover:bg-slate-300">English</button>
            {% else %}
                <input type="hidden" name="language" value="fa">
                <button type="submit" class="flex cursor-pointer items-center justify-center rounded-lg bg-slate-200 px-4 py-2 text-sm font-semibold text-slate-700 hover:bg-slate-300">فارسی</button>
            {% endif %}
        </form>
    </div>
</header>